table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.search-pokemon {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
